body{
  background:#efefef;
}

#btn{
  width:200px;
  height:200px;
  background: #ef454a;
  border-radius:50%;
  margin:30px auto;
  text-align:center;
  line-height:200px;
  color:#fff;
  font-weight:bold;
  font-size:50px;
  cursor:pointer;
  box-shadow:0 10px 0 #d1483e;
  user-select:none;
}

#btn:hover{
  opacity:0.9;
  /* transform:scale(0.9);
  transition:0.8s; */
}

#btn:active{
  box-shadow:0 5px 0 #d1483e;
  margin-top:35px;
}

a{
  padding:5px;
  border:3px solid #000;
  border-radius: 5px;
  background-color: #000;
  color:#fff;
  font-size:20px;
  font-weight:bold;
  text-decoration:none;
}
a:hover{
  background-color: #fff;
  color:#000;
}


.main{
  height:400px;
}

.main h1,p{
  padding-left:100px;
}

.footnote{
  text-align:center;
}